<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>   
    </head>
    <body>
    <!-- List of uploaded documents -->
    {% if files %}
        <ul>
        {% for document in files %}
            <li><a href="{{ document.files.url }}">{{ document.jjal_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>aNo files.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'list' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.jjal_text }}</p>
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.files.label_tag }} {{ form.files.help_text }}</p>
            <p>
                {{ form.files.errors }}
                {{ form.files }}
            </p>
            
            <p><input type="submit" value="Upload" /></p>
        </form>
    </body>
</html> 